{% extends "base.html" %}

{% block body %}
<main id="main-container">
    <h1><a href="/"><img class="lokit-logo" src="../static/images/Lokit.png" alt="Lokit Logo"></a></h1>
    <div id="form-container">
        <form id="login-form" action="/account" method="post">
            <div>
                <label for="username">Username:
                </label>
                <input autocomplete="none" type="text" name="username" id="username" placeholder="ex. Username123" required>
            </div>
            <div>
                <label for="password">Password:
                </label>
                <input type="password" name="password" id="password" placeholder="Shhhh...." required>
            </div>
            <button class="login-form-btn" type="submit" name="act" value="Login">Login</button>
            <button type="button" onclick="location.href = '/register';" class="login-form-btn">
                Create Account
            </button>
            {% if failed %}
                <p>Login Failed. Try Again.</p>
            {% elif exists == False %}
                <p>The username does not exist.</p>
            {% elif exists %}
                <p>The username already exists.</p>
            {% elif success %}
                <p>Account created successfully.</p>
            {% endif %}
        </form>
    </div>
</main>

{% endblock %}