{% extends "base.html" %}

{% block body %}
<main id="main-container">
    <h1>LOKIT</h1>
    <div id="form-container">
        <form id="login-form" action="/account" method="post">
            <div>
                <label for="username">Username:</label>
                <input autocomplete="none" type="text" name="username" id="username" placeholder="ex. Username123" required>
            </div>
            <div>
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" placeholder="Shhhh...." required>
            </div>
            <button id="login-btn" type="submit" name="act" value="Login">Login</button>
            <button id="register-btn" type="submit" name="act" value="Register">Register</button>
            {% if failed == True %}
                <p>Login Failed. Try Again.</p>
            {% elif exists == False %}
                <p>The username does not exist.</p>
            {% elif exists == True %}
                <p>The username already exists.</p>
            {% endif %}
        </form>
    </div>
</main>
<footer>
    <p>Early Access Version</p>
    <div id="github-div">
        <a href="https://github.com/Bowhza/Lokit" target="_blank">
            <img id="github-icon" src="../static/images/github.png" alt="Github Icon">
        </a>
        <p>GitHub Repo</p>
    </div>
</footer>
{% endblock %}