{% extends "base.html" %} {% block body %}
<main id="main-container">
  <h1>
    <a href="/"
      ><img
        class="lokit-logo"
        src="../static/images/Lokit.png"
        alt="Lokit Logo"
    /></a>
  </h1>
  <div id="form-container">
    <form id="register-form" action="/register" method="post">
      <div>
        <label for="username">Username:</label>
        <input
          autocomplete="none"
          type="text"
          name="username"
          id="username"
          placeholder="ex. Username123"
          required
        />
      </div>
      <div>
        <label for="password">Password: </label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Shhhh...."
          required
        />
      </div>
      <div>
        <label for="confirmpass">Confirm Password: </label>
        <input
          type="password"
          name="confirmpass"
          id="confirmpass"
          placeholder="Shhhh...."
          required
        />
      </div>
      {% if exists %}
      <p>The username is already taken.</p>
      {% elif match == False %}
      <p>The passwords do not match.</p>
      {% endif %}
      <button id="register-btn" type="submit" value="Register">Register</button>
    </form>
  </div>
</main>

{% endblock %}
